In [27]:
import pandas as pd

In [28]:
df2=pd.read_csv('Dataset1.csv')

In [29]:
df3=df2

In [30]:
df2.head()

,Job titiles,AI Impact,Tasks,AI models,AI_Workload_Ratio,Domain
0,Communications Manager,98%,365,2546,0.143362,Communication & PR
1,Data Collector,95%,299,2148,0.139199,Data & IT
2,Data Entry,95%,325,2278,0.142669,Administrative & Clerical
3,Mail Clerk,95%,193,1366,0.141288,Leadership & Strategy
4,Compliance Officer,92%,194,1369,0.141709,Medical & Healthcare

In [32]:
a1=df2['AI Impact']

In [34]:
df2.drop('AI Impact',axis=1,inplace=True)

In [35]:
df2.head()

,Job titiles,Tasks,AI models,AI_Workload_Ratio,Domain
0,Communications Manager,365,2546,0.143362,Communication & PR
1,Data Collector,299,2148,0.139199,Data & IT
2,Data Entry,325,2278,0.142669,Administrative & Clerical
3,Mail Clerk,193,1366,0.141288,Leadership & Strategy
4,Compliance Officer,194,1369,0.141709,Medical & Healthcare

In [36]:
pd.concat([df2,a1],axis=1)

,Job titiles,Tasks,AI models,AI_Workload_Ratio,Domain,AI Impact
0,Communications Manager,365,2546,0.143362,Communication & PR,98%
1,Data Collector,299,2148,0.139199,Data & IT,95%
2,Data Entry,325,2278,0.142669,Administrative & Clerical,95%
3,Mail Clerk,193,1366,0.141288,Leadership & Strategy,95%
4,Compliance Officer,194,1369,0.141709,Medical & Healthcare,92%
...,...,...,...,...,...,...
4701,Singer,686,2798,0.245175,Data & IT,5%
4702,Airport,556,2206,0.252040,Administrative & Clerical,5%
4703,Director,1316,4695,0.280298,Leadership & Strategy,5%
4704,Nurse,710,2594,0.273709,Medical & Healthcare,5%
4705,Technician,825,3256,0.253378,Supply Chain & Logistics,5%

In [37]:
job=df2['Job titiles']

In [38]:
job.head()

0    Communications Manager
1            Data Collector
2                Data Entry
3                Mail Clerk
4        Compliance Officer
Name: Job titiles, dtype: object

In [45]:
type(job)

pandas.core.series.Series

In [47]:
jobtitles=[]
for i in job:
    jobtitles.append(i)

In [52]:
from sklearn.preprocessing import LabelEncoder

In [53]:
le = LabelEncoder()

In [54]:
job=le.fit_transform(job)

In [57]:
job

array([ 841, 1083, 1085, ..., 1209, 2844, 4343])

In [60]:
job2=df2['Job titiles']

NameError: name 'ordinal_mapping' is not defined